.navbar {
  background-color: rgba(0, 0, 0, 0.2) !important; /* Transparent effect */
  backdrop-filter: blur(10px);
}

.logo {
  height: 30px;
  width: 198px;
}

/* Navbar Links */
.navbar-nav .nav-link {
  color: #fff;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin-left: 30px;
}

.navbar-nav .nav-link:hover {
  color: #ff4081 !important;
}
